<div class="container mt-5 crear-cuenta">
  <h1 class="text-center mb-4">Crear Nueva Cuenta</h1>
  
  <form (ngSubmit)="crearCuenta()">
    <div class="form-group mb-3">
      <label for="saldo" class="form-label">Saldo Inicial:</label>
      <input type="number" id="saldo" [(ngModel)]="saldo" name="saldo" class="form-control" step="0.01" required />
    </div>
    
    <div class="d-flex justify-content-between mt-4">
      <button type="submit" class="btn btn-primary">Crear Cuenta</button>
      <button type="button" class="btn btn-secondary" (click)="irACliente()">Ir a Cliente</button>
    </div>
  </form>
</div>
