<div class="container mt-5">
  <h1 class="form-title text-center mb-4">Crear Nuevo Cliente</h1>
  <form [formGroup]="clienteForm" (ngSubmit)="crearCliente()" class="form">
    <div class="form-group mb-3">
      <label for="nombre" class="form-label">Nombre</label>
      <input id="nombre" formControlName="nombre" class="form-control" placeholder="Nombre">
      <div *ngIf="clienteForm.get('nombre')?.touched && clienteForm.get('nombre')?.invalid" class="error-message">
        <div *ngIf="clienteForm.get('nombre')?.errors?.['required']">El nombre es obligatorio.</div>
        <div *ngIf="clienteForm.get('nombre')?.errors?.['minlength']">El nombre debe tener al menos 3 caracteres.</div>
      </div>
    </div>

    <div class="form-group mb-3">
      <label for="email" class="form-label">Email</label>
      <input id="email" formControlName="email" class="form-control" type="email" placeholder="Email">
      <div *ngIf="clienteForm.get('email')?.touched && clienteForm.get('email')?.invalid" class="error-message">
        <div *ngIf="clienteForm.get('email')?.errors?.['required']">El email es obligatorio.</div>
        <div *ngIf="clienteForm.get('email')?.errors?.['email']">El email debe ser válido.</div>
      </div>
    </div>

    <div class="form-group mb-3">
      <label for="user" class="form-label">Usuario</label>
      <input id="user" formControlName="user" class="form-control" placeholder="Usuario">
      <div *ngIf="clienteForm.get('user')?.touched && clienteForm.get('user')?.invalid" class="error-message">
        <div *ngIf="clienteForm.get('user')?.errors?.['required']">El usuario es obligatorio.</div>
        <div *ngIf="clienteForm.get('user')?.errors?.['minlength']">El usuario debe tener al menos 3 caracteres.</div>
      </div>
    </div>

    <div class="form-group mb-3">
      <label for="password" class="form-label">Contraseña</label>
      <input id="password" formControlName="password" type="password" class="form-control" placeholder="Contraseña">
      <div *ngIf="clienteForm.get('password')?.touched && clienteForm.get('password')?.invalid" class="error-message">
        <div *ngIf="clienteForm.get('password')?.errors?.['required']">La contraseña es obligatoria.</div>
        <div *ngIf="clienteForm.get('password')?.errors?.['minlength']">La contraseña debe tener al menos 6 caracteres.
        </div>
      </div>
    </div>

    <div class="form-group mb-3">
      <label for="telefono" class="form-label">Teléfono</label>
      <input id="telefono" formControlName="telefono" class="form-control" placeholder="Teléfono">
      <div *ngIf="clienteForm.get('telefono')?.touched && clienteForm.get('telefono')?.invalid" class="error-message">
        <div *ngIf="clienteForm.get('telefono')?.errors?.['pattern']">El teléfono debe tener 9 dígitos numéricos.</div>
      </div>
    </div>


    <button type="submit" class="btn btn-primary w-100 mb-2" [disabled]="clienteForm.invalid">Crear Cliente</button>
    <button type="button" class="btn btn-secondary w-100" (click)="irALogin()">Regresar</button>
  </form>
</div>